S3method("%<=%",default)
S3method("%<=%",factor)
S3method("%<=%",list)
S3method(predict,ClassForest)
S3method(print,ClassForest)
export("%<=%")
export(crossValidate)
export(makeTree)
export(randomForest)
export(riskEntropy)
export(riskError)
export(riskGini)
export(riskSAE)
export(riskSSE)
export(riskTwoing)
