S3method("%<=%",default)
S3method("%<=%",factor)
S3method("%<=%",list)
S3method(predict,ClassForest)
export("%<=%")
export(costEntropy)
export(costError)
export(costGini)
export(crossValidate)
export(makeTree)
export(randomForest)
